.ContMain {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
	max-width: 100vw;

  .GridMainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }

  .searchApiContainer {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    overflow-y: hidden;
    background-color: #fff;
    max-height: 95vh;
    border-radius: 3rem;
    margin: 1rem 1rem 1rem;
  }
}
